/* @override http://lts.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-base.css?mc36q5
	http://lts.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-base.css?mcb30c */

/* This file will hold the main styles for your website. */

#block-search-form div.block-title h2.block-title div.text {
	font-size: small;
	margin: 0;
	height: 19px;
}


body {
background: #007aa6; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwN2FhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzI0YTRkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzI0YTRkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDdhYTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #007aa6 0%, #24a4de 20%, #24a4de 80%, #007aa6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#007aa6), color-stop(20%,#24a4de), color-stop(80%,#24a4de), color-stop(100%,#007aa6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #007aa6 0%,#24a4de 20%,#24a4de 80%,#007aa6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #007aa6 0%,#24a4de 20%,#24a4de 80%,#007aa6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #007aa6 0%,#24a4de 20%,#24a4de 80%,#007aa6 100%); /* IE10+ */
background: linear-gradient(to right,  #007aa6 0%,#24a4de 20%,#24a4de 80%,#007aa6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007aa6', endColorstr='#007aa6',GradientType=1 ); /* IE6-8 */

}

/* Links */
a, a:link {
  text-decoration: none;
}
a, a:link, a:visited, a:active {
  color: #00698f;
}
a:hover {
  text-decoration: underline;
}

/* Headers */
body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: #191F53;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
}

body > #page h1#page-title {
  color: #191F53;
}

/* Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}

/* Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Page */
#page {
  position: relative;
}

#mini-panel-services_dropdown div.view-header p {
	font-size: 1.25em;
	font-weight: bold;
}

/* Blocks */
.block .content {
  color: #626262;
}
.block .content li {
  margin-left: 2em;
}
.block .content .item-list li {
  margin: 0;
}



/* Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {
}
#region-sidebar-first .block:first-child div.block-title {
  margin-top: 0;
}

.boxes-box-controls ul {
  margin: 0;
}

/* Content */

ul.tabs {
  *padding-top: 1px;
}

div.image-left a img, div.left img {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

img.left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

div.views-slideshow-cycle-main-frame-row-item.views-row img {
	width: 100%;
	height: auto;
}

div.view-id-services div.view-header p {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	border-bottom: thin solid gray;
}





div.readmore {
	float: right;
	margin-bottom: 10px;
	background-color: #00698f;
	padding: 7px;
	border-radius: 10px;
}
div.readmore a {
	color: white;
}

span.footername {
	color: white;
	font-size: 1.75em;
}

#block-block-1 div.content div div {
	color: white;
}

/* @group Testimonials */

div.testimonial-header {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 10px;
}

#block-views-testimonials-block blockquote p {
	margin: 0;
}

#block-views-testimonials-block div.view-footer {
	background: url(../images/megaphone.png) no-repeat right 0;
	height: 70px;
	color: white;
}

#block-views-testimonials-block div.view-content {color: white;padding: 10px 10px 40px;
	background-color: #24a4de;border-radius: 15px; clear: both;
	margin: 0;
}

#block-views-testimonials-block img.end {float: right;
}



/* @end */

#block-block-15 {
	border: thin solid gray;
	text-align: center;
	margin-bottom: 30px;
	padding: 20px;border-radius: 15px;
}

div.cta-content-sidebar-second {
	font-size: 1.55em;
}

div.cta-sidebar-second {background-color: black;border-radius: 10px;padding: 10px;
	margin-top: 10px;
}
div.cta-sidebar-second a {
	color: white;
	font-size: 1.25em;
}

/* @group Branding */

#block-block-8 {
	text-align: center;
	font-size: 2em;
	line-height: 1.25em;
}

#block-block-16 div.content p {
	text-align: center;
}



/* @end */

/* @group Header */


#block-block-9 div.content img {
	width: 100%;height: auto;
	position: relative;
	bottom: 30px;
}

div.tagline {
	text-align: center;
	color: #4D4D4D;
	font-size: 3.5em;
}

#block-block-9 {
	max-height: 70px;
}

span.street {
	display: block;
}




/* @end */

/* @group Quicktabs */

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
	font-weight: bold;
}

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li {
	  background: rgb(242,237,237); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiNmMmVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNkM2NmZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,237,237,1) 32%, rgba(211,207,208,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,rgba(242,237,237,1)), color-stop(99%,rgba(211,207,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* IE10+ */
background: linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eded', endColorstr='#d3cfd0',GradientType=0 );

}


ul.quicktabs-tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 1%;
  white-space: nowrap;
	border-top: thin solid #CACCCB;
	border-right: thin solid #CACCCB;
}

ul.quicktabs-tabs li a {
	color: #253690;
}


/* @end */
div.step {
	clear: both;
	margin-bottom: 10px;
}

#block-views-related-lab-tests-block div.block-title h2.block-title {
	font-size: large;
	border-bottom: thin solid gray;
	padding-bottom: 5px;
}

div.view-related-lab-tests div.views-row p {
	font-size: small;
}

/* @group Search Page */
#block-system-main .view-find-your-test h2.node-title {
	font-size: large;
	margin-bottom: 10px;
}

#block-system-main .view-find-your-test p{
	margin-left: 30px;
	margin-bottom: 5px;
}

#block-system-main .view-find-your-test div.view-header p {
	color: black;
}

#block-system-main .view-find-your-test .node-lab-test, #block-system-main .view-find-your-test .node-panel, div.view-related-lab-tests div.views-row {background-color: #ddd;padding: 5px;border-radius:10px; margin-bottom: 10px;
}

div.view-related-lab-tests div.views-row a.views-more-link {
	font-weight: bold;
}
#block-system-main .view-find-your-test h2 a, #block-system-main .view-find-your-test p {
	color: #00698f;
	font-size: .85em;
}

#block-system-main .view-find-your-test .field-type-commerce-price {
	color: black;background-color: white;border-radius:10px;
	padding-right: 5px;
	padding-left: 5px;
	float: right;
}



#block-facetapi-lhn6v59rs6fgdanqkghizd4glcjzkuh7 h2.block-title div.text, 
#block-facetapi-es6kvoxeua6pxadoduawx2cm3fzwbgnq div.block-title h2.block-title div.text {
	font-size: medium;
}

#facetapi-facet-search-apitest-panels-block-title li.leaf, #facetapi-facet-search-apitest-panels-block-field-service-reference li.leaf {
	list-style-type: none;
	list-style-image: none;
	background-color: #0078a4;padding: 5px 5px 5px 19px;border-radius:10px; margin-bottom: 10px;
	color: black;
}

#facetapi-facet-search-apitest-panels-block-title li.leaf a.facetapi-inactive, #facetapi-facet-search-apitest-panels-block-field-service-reference li a.facetapi-inactive {
	color: white;
}
#facetapi-facet-search-apitest-panels-block-title li.leaf a.facetapi-active, #facetapi-facet-search-apitest-panels-block-field-service-reference li a.facetapi-active {
	color: black;
	font-weight: bold;
}


/* @end */

#block-current-search-standard {
	display: none;
}