/* @override 
	http://lts.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?mcb30c
	http://lts.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?mcr8eq */

/* This file will hold styles that are loaded using the same media query as the narrow grid. */

.logo-img {
  float: left;
  text-align: left;
}

/* User */
#region-user-first {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 0;
  width: 50%;
}

#region-user-second {
	position: absolute;
	right: 50px;
	top: 119px;
}

/* Search Form */
#block-search-form {
  position: absolute;
  text-align: right;
  top: -10px;
  width: 300px;
  z-index: 1;
left: 20px;
}


#block-block-8 {
	text-align: center;
	float: right;
	width: 300px;
	font-size: 1.70em;
	line-height: 1.1em;
}

#region-menu nav > ul.menu > li {
	float: left;
}

div.social {
	float: right;
}

#zone-branding {min-height: 180px;
	line-height: .8em;
}

div.map {width: 60%;margin-right: 10px;
	float: left;
}

div.rightthirty {
	width: 38%;
	overflow: hidden;
	text-align: center;
}