/* @override 
	http://lts.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-footer.css?mcb30c
	http://lts.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-footer.css?mcwqsz
	http://lts.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-footer.css?md1a1w
*/

div.center-header {
text-align: center;
	color: #404040;
	font-weight: bold;
	text-shadow: 0 1px 2px #eae8e8;
	margin-top: 20px;
}

#block-block-2 img {
	border: 3px solid #ccd1d7;
	max-height: 50px;
}

#block-block-2 div.content p {
	text-align: center;
}
span.association-left, span.association-right {
	margin-right: 40px;
	font-size: 1.25em;
}

#block-webform-client-block-2 {
	float: right;
}


/* Footer */


#zone-footer-wrapper {
z-index: 1;
padding-top: 10px;
-webkit-box-shadow: #666 0px 0px 10px;
-moz-box-shadow: #666 0px 0px 10px;
box-shadow: #666 0px 0px 10px;
}
#zone-footer-wrapper a,
#zone-footer-wrapper a:link
#zone-footer-wrapper a:visited {
  color: #fff;
}
#zone-footer-wrapper .block .content {
  color: black;
}
#zone-footer-wrapper div.block-title {
  margin: 15px 0;
}
#zone-footer-wrapper div.block-title h2.block-title div.separator {
  background-image: url(../images/separator-white.png);
}
#zone-footer-wrapper p {
  margin: 0;
  padding: 0;
  color: white;
}
#region-footer-first,
#region-footer-second {
  margin: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}
#region-footer-bottom {
  margin: 0;
  padding: 20px 0;
  width: 100%;
}
#region-footer-bottom .region-inner {
  padding: 0 20px;
}
#region-footer-bottom img {
  vertical-align: middle;
}
#region-footer-bottom img.levelten {
  position: relative;
  top: 2px;
}

/* Legal Notices Menu */
#region-footer-bottom .block {
  float: left;
}
#region-footer-bottom #block-menu-menu-legal-notices {
  float: right;
}
#region-footer-bottom #block-menu-menu-legal-notices .block-title {
  display: none;
}
#region-footer-bottom #block-menu-menu-legal-notices li {
  background: none;
  float: left;
  list-style: none;
}

body > #page #zone-footer h1, body > #page #zone-footer h2, body > #page #zone-footer h3,
body > #page #zone-footer h4, body > #page #zone-footer h5, body > #page #zone-footer h6, #zone-footer div.block-title {
  color: #fff;
	margin-bottom: 0;
	margin-top: 0;
}

#zone-footer label {
	color: white;
}
