/* @override 
	http://lts.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-alpha-default-normal.css?mcg1mh */

/* This file will hold styles that are loaded using the same media query as the normal grid. */

#logo {
  width: 350px;
}

/* Search Form */
#block-search-form {
  position: absolute;
  text-align: right;
  top: -10px;
  width: 300px;
  z-index: 1;
	left: -46px;
}


div.step {
	clear: both;
	margin-bottom: 10px;
}

#block-views-authorship-block {width: 50%;
}

#block-block-15 {
	border: thin solid gray;
	text-align: center;
	margin-bottom: 30px;
	padding: 20px;border-radius: 15px;
}